body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}

.question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

.choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: grid;
    width : 135px;
    text-align: center;
    border : 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    background-color: black;
    color: white;
}
.choice:hover{
    border : 2px solid white;
    color: grey;
}